.home-icon{
  width: 60px;
  height: 60px;
  background-color: black;
  opacity: .25;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease .5s;
  
}
.home-icon:hover{
  opacity: 1;
  cursor: pointer;
  
}
.home-icon:hover .icon-1{
 color:#ff014f ;
  
}